/*
 * TechTotem Theme layout styles
 *
 * @package TechTotem
 * @subpackage TechTotem_Theme
 * @since 1.0
 * @version 1.0
 */


/* 
 * *******************************************************************************
 * GLOBAL
 * *******************************************************************************
 */


	/* BODY */
	html,
	body {
		height: 100%;
	}


		/* WRAPPER */
		.wrapper {
			height: 100%;
		}


			/* WRAPPER: INNER */
			/* .wrapper-inner {
			} */


				/* CONTENT: MAIN */
				.content-main {
					position: relative;
				}


					/* TIME & TEMP */
					.time-temp {
						//background: pink;
						position: absolute;
						top: ($global-margin * 2.5);
						right: ($global-margin * 3.5);
						z-index: 1;
					}


				/* NAVBAR */
				.navbar {
					background: $white;
					position: fixed;
					bottom: 0;
					left: 0;
					width: 100%;
					z-index: 11;
				}


/* 
 * *******************************************************************************
 * SCREENSAVER
 * *******************************************************************************
 */
.page-screensaver {

	.content-main, 
	article,
	.orbit-slide {
		height: 100%;
	}

}